label{
    font-weight: 400;
}

.signup-div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-box{
    max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #878787;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2{
    margin-bottom: 10px;
}

select{
    width: 100%;
    padding: 10px;
    border: '1px solid #ccc';
    border-radius: 5px;
}